@mixin button-style($backgroud, $color){
  background: $backgroud;
  color: $color;
  &:hover{
    // darken esturece tantos %
    //desaturate desatura tantos %
    // mix mistura as cores
    // grayscale deixa cinza
    background: grayscale($backgroud);
  }
}

.btn{
  width: 200px;
  padding: 10px 0;
  background: none;
  border: 0;
  border-radius: 10px;
  display: block;
  margin: 10px 0;

// @extend no sass serve para herdar informações
// @extend .btn;
  &.btn-laranja{
    @include button-style($color-orange, #fff );
  } 
  &.btn-roxo{
    @include button-style($color-roxa, #fff );
  } 
  &.btn-amarelo{
    @include button-style($color-amarelo, #fff );
  }
}


